* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
/* navbar */
nav {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 60px;
  align-items: center;
}

nav .logo {
  font-family: "DM Serif Display", serif;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
  /* background-color: violet; */
  width: 10%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  opacity: 0.5;
}

.isi {
  text-align: center;
}
.content {
  padding-top: 40px;
  height: auto;
  background-color: gray;
}
.foto img {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.about .isi p {
  margin-top: 8px;
}

.about p {
  line-height: 2;
}
.kosong {
  height: 50px;
  background-color: gray;
  margin-top: -20px;
}
